<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="/Users/guzhanuerxilili/Downloads/KZAProject/src/test/java/testNG/CreateBoardRunner.java">
        <classes>
            <class name="testNG.CreateBoardRunner">
                <methods>
                    <include name="createBoard"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>